<script setup lang="ts">
import FirstComponent from "@/components/FirstComponent.vue";
import SecondComponent from "@/components/SecondComponent.vue";
import { ref } from "vue";

const num = ref(0);
function dereaseNum() {
  if(num.value >0)
    num.value --
}
</script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <h1>First Component</h1>
        <h1>{{ num }}</h1>
        <v-btn class="btn" @click="num = num+1">INCREMENT</v-btn>
      </v-col>
      <v-col>
        <h1>Second Component</h1>
        <h1>{{ num * 2 }}</h1>
        <v-btn class="btn" @click="dereaseNum">DECREASE</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped>
.btn {
  font-weight: bold;
  color: rgb(0, 0, 0);
  background-color: #FFFFFF;
  height: 50px;
  width: 200px;
  font-size: 20px;
}
.selected {
  font-weight: bold;
  color: rgb(0, 0, 0);
  background-color: #F0FF20;
  height: 50px;
  width: 100px;
  font-size: 20px;
}
</style>
