<script lang="ts" setup>
import { ref, reactive, computed } from "vue";

const img = ref("angry");
const isRed = ref(true);
function toggleRed() {
  isRed.value = !isRed.value;
}
const color = ref("green");
function toggleGreen() {
  color.value = color.value == "green" ? "blue" : "green";
}


</script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <v-img
          v-if="img === 'angry'"
          src="feeling_imgs/angry.png"
          width="500"
        ></v-img>
        <v-img
          v-if="img === 'cute'"
          src="feeling_imgs/cute.png"
          width="500"
        ></v-img>
        <v-img
          v-if="img === 'excited'"
          src="feeling_imgs/excited.png"
          width="500"
        ></v-img>
        <v-img
          v-if="img === 'pain'"
          src="feeling_imgs/pain.png"
          width="500"
        ></v-img>
        <v-img
          v-if="img === 'shocked'"
          src="feeling_imgs/shocked.png"
          width="500"
        ></v-img>
        <v-img
          v-if="img === 'smile'"
          src="feeling_imgs/smile.png"
          width="500"
        ></v-img>
      </v-col>
      <v-col>
        <h2>{{ img.toUpperCase() }}</h2>
        <br /><br />
        <v-btn :class="[{ selected: img === 'angry' } , {btn: img != 'angry' }]" @click="img = 'angry'"> ANGRY</v-btn>
    <v-btn :class="[{ selected: img === 'cute' } , {btn: img != 'cute' }]" @click="img = 'cute'"> CUTE</v-btn>
    <v-btn :class="[{ selected: img === 'excited' } , {btn: img != 'excited' }]" @click="img = 'excited'"> EXCITED</v-btn>
    <v-btn :class="[{ selected: img === 'pain' } , {btn: img != 'pain' }]" @click="img = 'pain'"> PAIN</v-btn>
    <v-btn :class="[{ selected: img === 'shocked' } , {btn: img != 'shocked' }]" @click="img = 'shocked'"> SHOCKED</v-btn>
    <v-btn :class="[{ selected: img === 'smile' } , {btn: img != 'smile' }]" @click="img = 'smile' ;toggleRed()"> SMILE</v-btn>

        <br /><br />
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.btn {
  font-weight: bold;
  color: rgb(0, 0, 0);
  background-color: #FFFFFF;
  height: 50px;
  width: 500px;
  font-size: 20px;
  width: 100%;
}
.selected {
  font-weight: bold;
  color: rgb(0, 0, 0);
  background-color: #F0FF20;
  height: 50px;
  width: 500px;
  font-size: 20px;
  width: 100%;
}


h2 {
  text-align: center;
}
</style>
