<script setup lang="ts">
import { defineProps } from "vue";
import { useProductStore } from "@/stores/product";

const productDetail = defineProps<{
    id: number;
    name: string;
    price: number;
}>();

const productSore = useProductStore();
</script>
<template>
    <v-card class="mt-8" width="300">
        <v-card-title style="text-align: center">{{
            productDetail.name
        }}</v-card-title>
        <v-card-text style="text-align: center">
            {{ productDetail.price }}
        </v-card-text>

        <v-container style="text-align: center; position: relative">
            <v-btn @click="
            productSore.getProduct(
                productDetail.id,
                productDetail.name,
                productDetail.price
            )">
                add
            </v-btn>
        </v-container>
    </v-card>
</template>

